.inputItem {
  display: flex;
  justify-content: space-between;
  line-height: 40px;
  margin-top: 10px;
}
.input {
  outline: none;
  background-color: #2b2f33;
  border: 1px solid #2b2f33;
  border-radius: 3px;
  border: none;
  padding: 2px 5px;
  min-width: 200px;
}
.label {
  margin-right: 20px;
}
