.content {
  width: 100vw;
  height: 100vh;
}

.form {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.button {
  width: fit-content;
  margin-left: 5px;
  padding: 5px 25px;
  cursor: pointer;
  background-color: white;
  color: black;
  border: none;
  border-radius: 3px;
}

.link {
  display: inline-block;
  text-decoration: underline;
}

.formFooter {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  margin-top: 20px;
}
