* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  color: white;
  transition: all 0.5s;
}

html {
  font-family: "Open Sans", sans-serif;
  font-size: 10px;
}

body {
  background-color: #1b1f23;
}

.App {
  max-width: 1180px;
  padding: 0 15px;
  margin: auto;
  width: auto;
}
